<!-- filepath: /e:/integracion/Integracion_XML/app/templates/upload_xml.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cargar archivo XML</title>
    <!-- Agregar CSS para DataTable -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
</head>
<body>
    <h2>Cargar archivo XML</h2>
    <form action="{{ url_for('xml_upload.upload_xml') }}" method="POST" enctype="multipart/form-data">
        <label for="xml_file">Selecciona un archivo XML:</label>
        <input type="file" name="xml_file" id="xml_file" accept=".xml" required>
        <br><br>
        <button type="submit">Cargar XML</button>
    </form>

    {% if datos or facturacion %}
    <form id="export-form" action="{{ url_for('xml_upload.export_data') }}" method="POST">
        {% if datos %}
        <h2>Datos Extraídos</h2>
        <table id="data-table" class="display">
            <thead>
                <tr>
                    <th>Identificación</th>
                    <th>Nombre/Razón Social</th>
                    <th>Tipo Persona</th>
                    <th>Dirección</th>
                    <th>Ciudad</th>
                    <th>Subentidad del País</th>
                    <th>Código de Subentidad del País</th>
                    <th>País</th>
                    <th>Nombre del País</th>
                    <th>Teléfono</th>
                    <th>Email</th>
                    <th>Actividad Económica</th>
                </tr>
            </thead>
            <tbody>
                {% for dato in datos %}
                <tr>
                    <td>{{ dato.company_id }}</td>
                    <td>{{ dato.registration_name }}</td>
                    <td>{{ dato.tax_level_code }}</td>
                    <td>{{ dato.address }}</td>
                    <td>{{ dato.city_name }}</td>
                    <td>{{ dato.country_subentity }}</td>
                    <td>{{ dato.country_subentity_code }}</td>
                    <td>{{ dato.country }}</td>
                    <td>{{ dato.country_name }}</td>
                    <td>{{ dato.telephone }}</td>
                    <td>{{ dato.electronic_mail }}</td>
                    <td>{{ dato.actividad_economica }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <input type="hidden" name="datos" value="{{ datos|tojson | escape }}">
        {% endif %}

        {% if productos %}
        <h2>Detalles de Productos</h2>
        <table id="productos-table" class="display">
            <thead>
                <tr>
                    <th>Nro.</th>
                    <th>Código</th>
                    <th>Descripción</th>
                    <th>U/M</th>
                    <th>Cantidad</th>
                    <th>Precio unitario</th>
                    <th>Precio de venta</th>
                    <th>Descuento detalle</th>
                    <th>Recargo detalle</th>
                    <th>IVA %</th>
                    <th>INC %</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                <tr>
                    <td>{{ producto.nro }}</td>
                    <td>{{ producto.codigo }}</td>
                    <td>{{ producto.descripcion }}</td>
                    <td>{{ producto.um }}</td>
                    <td>{{ producto.cantidad }}</td>
                    <td>{{ producto.precio_unitario }}</td>
                    <td>{{ producto.precio_venta }}</td>
                    <td>{{ producto.descuento_detalle }}</td>
                    <td>{{ producto.recargo_detalle }}</td>
                    <td>{{ producto.iva }}</td>
                    <td>{{ producto.inc }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        {% endif %}

        {% if facturacion %}
        <h2>Información de Facturación</h2>
        <table id="informacion-facturacion-table" class="display">
            <thead>
                <tr>
                    <th>Campo</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>
                {% for factura in facturacion %}
                {% if factura.campo != 'Producto' and factura.campo != 'Código Producto' and factura.campo != 'Descripcion Producto' %}
                <tr>
                    <td>{{ factura.campo }}</td>
                    <td>{{ factura.valor }}</td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
        <br>
        <input type="hidden" name="facturacion" value="{{ facturacion|tojson | escape }}">
        {% endif %}

        <button type="submit" form="export-form">Guardar en BD</button>
    </form>
    {% endif %}

    <!-- Agregar scripts para DataTable -->
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function() {
            $('#data-table').DataTable();
            $('#productos-table').DataTable();
            $('#informacion-facturacion-table').DataTable();
        });
    </script>
</body>
</html>